body {
    padding-top: 50px;
}

.navbar.navbar-inverse {
    //background: #222 url(assets/img/patterns/simple_dashed/simple_dashed_@2X.png);
    //background-size: 14px 14px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    float: none;
    outline: none;

    img {
        display: inline-block;
    }
}

.app-title {
    font-size: 16px;
    color: white;
    -webkit-font-smoothing: antialiased;

    span.meta {
        font-size: 10px;
        color: lightgrey;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        float:right;
        vertical-align: bottom;
        line-height: 30px;
        margin-right: 5px;
    }

    @include susy-breakpoint($screen-sm) {
        font-size: 20px;

        span.meta {
            line-height: 38px;
        }
    }
}

.anchor {
    display: block;
    position: relative;
    top: -110px;
    visibility: hidden;
}

#main-nav {
    z-index: 2000;
}

.login-container {
    padding-top: 30px;
    //background: url(assets/img/patterns/wood_1.png);
    //background-size: 350px 350px;
    background: url(assets/img/patterns/binding_dark/binding_dark_@2X.png);
    background-size: 360px 360px;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.request-password-container {

    padding-top: 30px;

}

.remember-me-container p {
    padding-left: $grid-gutter-width/2;

    input {
        margin-right: 5px;
    }
}

.modal-dialog {
    margin-top: 75px !important;
}

fieldset {
    margin-bottom: 2rem;
}

fieldset .form-group {
    padding: 0px 50px;
}

/* Footer */
.footer {
    padding: 30px 0px 90px;
    background: $brand-primary;

    * {
        color: #fff;
        -webkit-font-smoothing: antialiased;
    }

    a {
        color: lighten($brand-primary, 40%);
        text-decoration: underline;
    }

    ul {
        li {
            margin-bottom: 5px;
        }
    }
}

.warning {
    width: 100%;
    background: #00b9eb;
    padding: 0 30px 30px;

    p {
        font-size: 1.1em;
    }
}

input[type=password].invalid {
  outline-color: red;
  /* also need animation and -moz-animation */
  -webkit-animation: shake .5s linear;
}
/* also need keyframes and -moz-keyframes */
@-webkit-keyframes shake {
  8%, 41% {
    -webkit-transform: translateX(-10px);
  }
  25%, 58% {
    -webkit-transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-5px);
  }
  92% {
    -webkit-transform: translateX(5px);
  }
  0%, 100% {
    -webkit-transform: translateX(0);
  }
}