.search-container {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    //background: url(assets/img/patterns/wood_1.png);
    //background-size: 350px 350px;
    background: url(assets/img/patterns/binding_dark/binding_dark_@2X.png);
    background-size: 180px 180px;
}

.search {
    //padding: $grid-gutter-width 0 $grid-gutter-width*2;
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width*2;

    select {
        width: 100%;
        background: $gray-lighter;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    input {
        font-weight: 200;
        font-size: 15px;

        @include susy-breakpoint($screen-sm) {
            font-size: 18px;
        }
    }
    button {
        width: 100%;

        font-size: 16px;

        @include susy-breakpoint($screen-sm) {
            font-size: 18px;
        }
    }

    .clear-search {
        display: none;
        margin-top: 1em;
        width: 100%;

        .btn {
            width: 100%;

            &:active {
                opacity: 0.2;
            }
        }
    }
}

body.hasResults {
    .search {
        padding-top: 92px;

        @include susy-breakpoint($screen-sm) {
            padding-top: 92px + $grid-gutter-width;
        }
    }
}

body {
    //background: url(assets/img/patterns/egg_shell.png);
}

.btn.active {
    opacity: 0.2;
}

/* Alpha List */
.alpha-nav {
    top: 51px;
}
.alpha-list {

    width: 100%;
    padding: 15px 0 0px;

    select.form-control {
        display: inline;
        width: auto;
        margin-left: 8px;
    }

    ul.list-inline {
        li {
            font-size: 12px;
            padding-right: 0px;
            padding-left: 0px;
            margin-bottom: 5px;

            a {
                margin-left: 10px;
                //padding-left: 5px;
            }
        }
    }

    @include susy-breakpoint($screen-sm) {
        padding: 15px 0 5px;

        ul.list-inline {
            li {
                font-size: 14px;
                //padding-right: 2px;

                span {
                    //padding-left: 8px;
                }
            }
        }
    }

    @include susy-breakpoint($screen-md) {

        padding-top: 20px;
        padding-bottom: 10px;

        ul.list-inline {
            li {
                //padding-right: 5px;

                span {
                    display: inline-block;
                    //padding-left: 10px;
                }
            }
        }
    }
}

.term {
    margin-right: 15px;
    font-family: $font-family-sans-serif;
    -webkit-font-smoothing: antialiased;

    .badge {
        font-size: 50%;
        margin-left: 10px;
    }
}

.no-search {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
}