.alpha-section {
    .alpha-heading {
        font-size: 64px;
        text-align: center;
    }
}

.student {
    margin-bottom: $grid-gutter-width*2.5;

    .excluded {
        color: red;
        padding: 10px;
        background-color: pink;
        border-top: 1px solid $gray-light;
    }

    .student-heading {
        border-bottom: 1px solid $gray-light;
        border-top: 1px solid $gray-light;
        text-align: center;
        background: $gray-lighter;
        padding: 15px 0px 7px;

        * {
            line-height: 22px;
        }

        .text-right {
            text-align: center !important;
        }

        @include susy-breakpoint($screen-md) {
            text-align: left;

            * {
                line-height: 30px;
            }
            .text-right {
                text-align: right !important;
            }
        }
    }

    .student-name {
        margin-top: 0;
        margin-bottom: 0px;

        span {
            font-family: $font-family-sans-serif;
            font-weight: 200;
            color: $gray-light;
            display: block;
            font-size: 14px;
            margin-top: 5px;
        }

        @include susy-breakpoint($screen-md) {
            margin-bottom: 5px;

            span {
                margin-top: 0;
                display: inline;
                padding-left: 20px;
                font-size: 14px;
            }
        }
    }

    .student-primary-contact {
        font-size: 14px;
        font-weight: 200;
        color: $gray-light;

        @include susy-breakpoint($screen-md) {
            font-size: 14px;
        }
    }

    .primary-phone {
        padding-left: 10px;
        font-size: 18px;
        color: $gray-darker;
        display: block;
        margin-bottom: 10px;
        white-space: nowrap;

        @include susy-breakpoint($screen-md) {
            font-size: 22px;
            display: inline;
            margin-bottom: 0;
        }
    }

    .guardians-toggle {
        text-align: center;
        padding: 15px;
        background: $gray-lighter;
        border-bottom: 1px solid $gray-light;
    }

    .student-guardians {
        padding-top: 20px;
        display: none;

        &:visible {
            border-bottom: 1px solid $gray-light;
        }

        @include susy-breakpoint($screen-sm) {
            display: block;
        }
    }

    .panel {
        text-align: center !important;

        .text-right {
            text-align: center !important;
        }

        @include susy-breakpoint($screen-md) {
            text-align: left !important;

            .text-right {
                text-align: right !important;
            }
        }
    }

    .panel-body {
        font-weight: 200;

        .parent_email {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        ul.phone-numbers {
            list-style: none;
            margin: 0 0 1em;
            padding: 0;

            li {
                white-space: nowrap;
                i {
                    display: inline-block;
                    width: 25px;
                    text-align: center;
                    font-size: 16px;
                }
            }
        }

        form {
            display: none;
            margin-top: 10px;
            padding: 15px;
            background-color: #efefef;

            p {
                color: $gray-light;
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}

.meta-links {
    color: $gray-light;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 1em;

    a {
        color: $gray-light;
        border-bottom: 1px solid;
        
        &:hover, &:active {
            text-decoration: none;
        }
    }

    form {
        display: none;
        margin-top: 10px;
        padding: 15px;
        background-color: #efefef;

        p {
            color: $gray-light;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 3px;
        }
    }
}

/* Font-Awesome */
.#{$fa-css-prefix}-custom-home:before,
.#{$fa-css-prefix}-custom-Home:before
{ content: $fa-var-phone; }

.#{$fa-css-prefix}-custom-cell:before,
.#{$fa-css-prefix}-custom-cell-text:before,
.#{$fa-css-prefix}-custom-Cell:before,
.#{$fa-css-prefix}-custom-Cell-Text:before
{ content: $fa-var-mobile; }

.#{$fa-css-prefix}-custom-work:before,
.#{$fa-css-prefix}-custom-Work:before
{ content: $fa-var-building-o; }