//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000;
//$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
//$gray-dark:              lighten($gray-base, 20%) !default;   // #333
//$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 66.7%); // #777
$gray-lighter:           lighten($gray-base, 96.5%); // #eee

//$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
//$brand-success:         #5cb85c !default;
//$brand-info:            #5bc0de !default;
//$brand-warning:         #f0ad4e !default;
//$brand-danger:          #d9534f !default;

$link-hover-decoration: none;

/* Glyphs */
$icon-font-path: 'bower_components/bootstrap-sass/assets/fonts/bootstrap/';

/* Typography*/

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
//$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
//$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
//$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px;
//$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
//$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

//$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2)); // ~32px
//$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
//$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
//$font-size-h5:            $font-size-base !default;
//$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
//$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
//$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$headings-font-family:    "American Typewriter", "Georgia", serif;
$headings-font-weight:    400;
$headings-line-height:    1.5;
$headings-color:          #333333;


/* NavBar */

$navbar-border-radius: 0;



/* Font Awesome */
$fa-font-path: 'bower_components/font-awesome/fonts';